@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        
        Sipariş numaranız :@Model <br /><br />
        <img src="/images/product/siparis.png" width="65%"/>
    </div>
    <div class="col-12 tezt-center" style="color:maroon">
        
       
    </div>
</div>